form {
  text-align: center;
}

form > fieldset {
  margin: auto;
  padding: 15px;
  display: flex;
  text-align: left;
  margin-bottom: 10px;
  flex-direction: column;
  width: min(600px, 75vw);
  border: 1px solid #00000069;
  box-shadow: 0px 2px 4px 0px #000000a3;
}

fieldset > div,
.input-wrapper > div {
  display: flex;
  width: inherit;
  margin-top: 5px;
  flex-direction: column;
}

fieldset > p {
  color: white;
  background-color: #00748087;
  background-image: linear-gradient(13deg, #000000bd, #00deff87);
}

fieldset > p > span {
  width: 25px;
  display: block;
  text-align: center;
  background-color: #333333;
}

.input-wrapper > div {
  width: 100%;
}

.input-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  gap: 5px;
}

.skill-wrapper {
  display: flex;
  flex-direction: column;
}

ul {
  padding-left: 20px;
}

li {
  padding: 5px 39px;
  padding-left: 10px;
  list-style-type: disclosure-closed;
}

.education-btn {
  gap: 5px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.personal-btn {
  display: flex;
}

.add-education,
.remove-education {
  padding: 8px;
  border: none;
  color: white;
  margin-top: 5px;
  font-size: 0.9rem;
  border-radius: 3px;
  background-color: #333333;
}

hr {
  padding: 1px;
  border: 1px solid;
  margin-left: 80px;
  margin-bottom: 15px;
  margin-right: 80px;
}

.list-wrapper,
.category_wrapper {
  display: flex;
}

.list-wrapper > input,
.category_wrapper > input {
  flex: 1;
}

.list-wrapper > button,
.category_wrapper > button {
  width: 35px;
  border: none;
  font-size: 1.2rem;
  margin-left: 10px;
  border-radius: 3px;
  color: rgb(255, 206, 206);
  background-color: #333333;
}

.category_wrapper > button {
  padding: 0 10px;
  font-size: 0.9rem;
  width: fit-content;
}

.add-list-btn,
.category-btn {
  padding: 8px;
  border: none;
  color: white;
  margin-top: 5px;
  width: fit-content;
  border-radius: 3px;
  background-color: #333333;
}

.category-btn {
  width: inherit;
  font-size: 0.85rem;
  font-weight: bolder;
  box-shadow: 0px 0px 0px 1px #007480;
}

li::marker {
  color: #007480;
}

fieldset > div > input,
textarea {
  width: 100%;
  resize: none;
}

fieldset {
  background-color: #0074801a;
}

legend {
  color: #d7fff9;
  padding: 2px 5px;
  border-radius: 4px;
  background-color: #333333;
}

input {
  padding: 5px;
  height: 30px;
  border-radius: 5px;
  background-color: white;
  border: 1px solid #007480;
}

::-webkit-file-upload-button {
  height: 30px;
  padding: 5px;
  border: none;
  color: white;
  padding-bottom: 7.5px;
  background-color: #333333;
}

input[type="file"] {
  padding: 0;
}

.category {
  margin-bottom: 15px;
  padding: 2px 2px;
  color: white;
  background-color: #0074807a;
  background-image: linear-gradient(13deg, #000000bd, #00deff75);
}

.category > span {
  font-family: fantasy;
  background-color: #333333;
}

form > button:last-of-type {
  padding: 8px;
  border: none;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  font-weight: bolder;
  margin: 15px 0 25px 0;
  width: min(320px, 40vw);
  background-color: #007480;
  transition: background 400ms;
  box-shadow: 0px 1.5px 2px 1px #002131;
}
