form > fieldset {
  margin: auto;
  padding: 20px;
  display: flex;
  margin-bottom: 20px;
  flex-direction: column;
  width: min(600px, 75vw);
}

fieldset > div,
.input-wrapper > div {
  display: flex;
  width: inherit;
  margin-top: 5px;
  flex-direction: column;
}

.input-wrapper > div {
  width: 100%;
}

.input-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  gap: 5px;
}

.skill-wrapper {
  display: flex;
  flex-direction: column;
}

ul {
  padding-left: 20px;
}

li {
  padding: 5px;
  padding-left: 10px;
  list-style-type: disclosure-closed;
}

.list-wrapper {
  display: flex;
}

.list-wrapper > input {
  flex: 1;
}

.list-wrapper > button {
  width: 35px;
  border: none;
  font-size: 1.2rem;
  margin-left: 10px;
  border-radius: 3px;
  color: rgb(255, 206, 206);
  background-color: #333333;
}

.add-list-btn {
  padding: 8px;
  border: none;
  color: white;
  margin-top: 5px;
  width: fit-content;
  border-radius: 3px;
  background-color: #333333;
}

li::marker {
  color: #007480;
}

fieldset > div > input,
textarea {
  width: 100%;
  resize: none;
}

fieldset {
  background-color: #c3bcbc2b;
}

legend {
  color: #d7fff9;
  padding: 2px 5px;
  border-radius: 4px;
  background-color: #333333;
}

input {
  padding: 5px;
  height: 30px;
  border-radius: 5px;
  background-color: white;
  border: 1px solid #007480;
}

::-webkit-file-upload-button {
  height: 30px;
  padding: 5px;
  border: none;
  color: white;
  padding-bottom: 7.5px;
  background-color: #333333;
}

input[type="file"] {
  padding: 0;
}
