.form-top-btn {
  margin: 10px;
  margin-top: 30px;
  text-align: center;
}

.form-top-btn > * {
  margin: 5px;
  border: none;
  padding: 10px;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  font-weight: bolder;
  background-color: #007480;
  transition: background 400ms;
  box-shadow: 0px 1.5px 2px 1px #002131;
}

.form-top-btn > *:is(:focus, :hover) {
  background-color: #00434a;
  outline: 1px solid white;
}

span.ripple {
  position: absolute;
  border-radius: 50%;
  transform: scale(0);
  animation: ripple 600ms linear;
  background-color: rgba(255, 255, 255, 0.7);
}

@keyframes ripple {
  from {
    opacity: 1;
    transform: scale(0);
  }

  to {
    transform: scale(4);
    opacity: 0;
  }
}
