.cv {
  margin: auto;
  display: flex;
  margin-top: 25px;
  min-height: 900px;
  margin-bottom: 50px;
  flex-direction: column;
  width: min(650px, 80vw);
  box-shadow: 0px 2px 7px 4px #000000a3;
}

.cv-header {
  padding: 25px;
  background-color: #002d44;
}

.title {
  gap: 5px;
  margin: auto;
  display: flex;
  width: fit-content;
}

.cv-body {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
}

.name-title {
  font-weight: 900;
  color: #c3bcbc;
  font-size: 1.3rem;
  text-align: start;
}

.other-fields {
  flex: 2;
  height: auto;
  padding: 20px 10px;
}

.other-fields > hr,
.personal-details > hr {
  padding: 0px;
  margin-top: 5px;
  margin-left: 1px;
  margin-right: 5px;
  margin-bottom: 5px;
  border: 0.1px solid #80808094;
}

.other-fields > p,
.personal-details > p {
  color: #0000ac;
  font-weight: bolder;
}

.personal-details {
  flex: 1;
  padding: 10px;
  background-color: #ddd;
}

.photo {
  height: 183px;
  margin: auto;
  border: 1px solid;
  margin-bottom: 15px;
  width: min(183px, 100%);
  background-color: beige;
}

.experience-block,
.education-block {
  display: flex;
}

.experience-block > div,
.education-block > div {
  font-size: 0.9rem;
  padding: 0.4rem;
  margin: 0.5rem;
  flex: 4;
}

.experience-block > p,
.education-block > p {
  font-size: 0.8rem;
  padding: 0.9rem;
  flex: 1;
}

.desc > p {
  margin-bottom: 20px;
}

.details > p {
  margin-bottom: 15px;
}

.skills > h5 {
  margin-top: 15px;
  width: 100%;
}

.email-para {
  word-wrap: break-word;
}

img {
  width: 100%;
}
