.cv {
  margin: auto;
  display: flex;
  min-height: 900px;
  margin-bottom: 50px;
  flex-direction: column;
  width: min(650px, 80vw);
  box-shadow: 0px 2px 7px 4px #000000a3;
}

.cv-header {
  padding: 25px;
  background-color: #002d44;
}

.title {
  margin: auto;
  width: fit-content;
}

.name-title {
  font-weight: 900;
  color: #c3bcbc;
  font-size: 1.3rem;
  text-align: start;
}

.cv-body {
  flex: 1;
  display: flex;
}

.other-fields {
  flex: 2;
  height: auto;
  padding: 20px 10px;
}

.other-fields > hr,
.personal-details > hr {
  padding: 0px;
  margin-top: 5px;
  margin-left: 1px;
  margin-right: 5px;
  margin-bottom: 5px;
  border: 0.1px solid #80808094;
}

.other-fields > p,
.personal-details > p {
  color: #0000ac;
  font-weight: bolder;
}

.personal-details {
  flex: 1;
  padding: 10px;
  background-color: #ddd;
}

.photo {
  width: 100%;
  height: auto;
  border: 1px solid;
}