i {
  color: white;
  font-size: 20px;
}

small {
  gap: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer {
  color: #eee;
  padding: 10px;
  margin-top: auto;
  text-align: center;
  background-color: #333333;
  border-top: 5px solid #007480;
}
